<div class="container">
  <div class="breadcrumb" (click)="backToListing()">Back to listing</div>

  <h2 class="display-3">{{ editingMode.value ? "Edit" : "Add" }} product</h2>
  <div>
    <mat-slide-toggle [formControl]="editingMode"
      >Click to switch me
      {{ editingMode.value ? "to adding" : "to editing" }}
      mode</mat-slide-toggle
    >
  </div>
  <div class="mb-3" *ngIf="editingMode.value">
    <label class="form-label" for="controlForId">Product id </label>
    <input
      class="form-control"
      id="controlForId"
      type="text"
      [formControl]="controlForId"
    />
  </div>
  <form [formGroup]="addProductForm">
    <div class="mb-3">
      <label for="title" class="form-label">Product title</label>
      <input
        id="title"
        class="form-control"
        type="text"
        formControlName="title"
      />
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input
        id="price"
        class="form-control"
        type="number"
        formControlName="price"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          addProductForm.controls['price'].invalid &&
          addProductForm.controls['price'].touched
        "
      >
        Price can not be negative
      </div>
    </div>
    <div class="mb-3">
      <label for="description">Description</label>
      <input
        id="description"
        class="form-control"
        type="text"
        formControlName="description"
      />
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image link</label>
      <input
        id="image"
        class="form-control"
        type="text"
        formControlName="image"
      />
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <input
        id="category"
        class="form-control"
        type="text"
        formControlName="category"
      />
    </div>
    <button
      type="submit"
      [disabled]="!addProductForm.valid"
      class="form-control"
      class="btn btn-primary"
      (click)="onSubmit()"
    >
      Submit
    </button>
  </form>
</div>
