<ng-container *ngIf="productData$|async as product">
    <div class="breadcrumb" (click)="backToListing()">Back to listing</div>
    <div class="card-container">
        <img class="col-9" src="{{product.image}}" alt="{{product.title}}">
        <aside>
            <div class="product product-title">{{product.title}}</div>
            <div class="product">{{product.price}} $</div>
            <div class="product">{{product.description}}</div>
            <button (click)="onDeleteClick()" class="btn btn-danger">Delete product</button>
        </aside>
    </div>
</ng-container>